@supports (backdrop-filter: blur(25px)) {
    .hero-wrapper__cont:before {
        backdrop-filter: blur(25px);
        background: rgba(244, 235, 255, 0.3);
    }
    .call-wrapper__right:before {
        backdrop-filter: blur(25px);
        background: rgba(244, 235, 255, 0.3);
    }
}
@supports not (backdrop-filter: blur(25px)) {
    .hero {
        background-attachment: fixed !important;
    }
    .hero .container {
        background: inherit;
    }
    .hero-wrapper {
        background: inherit;
    }
    .hero-wrapper__cont {
        background: inherit;
    }
    .hero-wrapper__cont:before {
        filter: blur(25px);
        background: inherit;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 2);
        z-index: -1;
    }

    .call {
        background-attachment: fixed !important;
    }
    .call .container {
        background: inherit;
    }
    .call-wrapper {
        background: inherit;
    }
    .call-wrapper__right {
        background: inherit;
    }
    .call-wrapper__right:before {
        filter: blur(25px);
        background: inherit;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 2);
        z-index: -1;
    }
}
